<h1>
  <b><%= I18n.t('.pdf.person') + " " + I18n.t('.pdf.number') + " " + person.id.to_s %></b>
</h1>
<table>
  <% [:email, :username, :company_name, :name, :surname, :nip, :pesel, :id_number, :workplace, :range_of_activity, :first_phone, :second_phone, :get_role, :get_person_status, :place, :address, :last_sign_in_at].each do |field| %>
    <% unless person.send(field).blank? %>
      <tr><td><%= I18n.t("helpers.label.person.#{field}") %>:</td><td><%= person.send(field) %></td></tr>
    <% end %>
  <% end %>
</table>
