<% unless @person.errors.messages.blank? %>
  <ul>
    <div class="block block-color danger">
      <div class="row">
        <div class="col-md-7 col-md-offset-2">
          <div class="header">
            <h3><%= I18n.t('people.error-header') %></h3>
          </div>
          <div class="content">
            <% @person.errors.messages.each do |field, messages| %>
              <% messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </ul>
<% end %>
<%= form_for @person, html: {class: "form-horizontal group-border-dashed", role:"form", novalidate:"", 'data-parsley-validate':"", multipart: true} do |f| %>
  <div class="form-group">
    <%= f.label :username, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
     <%= f.text_field :username, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label", for:"inputEmail3" %>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", id:"inputEmail3", type:"email"%>
    </div>
  </div>
  <% unless can? :manage, Person %>
    <% if action_name == 'edit' or action_name == 'update' %>
      <div class="form-group">
        <%= f.label :current_password, class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= f.password_field :current_password, required: true, class: "form-control", type: "password" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if can? :update, Person %>
    <div class="form-group">
      <% if action_name == 'edit' or action_name == 'update' %>
        <%= f.label :new_password, class: "col-sm-3 control-label" %>
      <% else %>
        <%= f.label :password, class: "col-sm-3 control-label" %>
      <% end %>
      <div class="col-sm-6">
        <% if action_name == 'new' %>
          <%= f.password_field :password, required: true, class: "form-control", id: "pass1", 'data-parsley-equalto': "#pass2", type: "password" %>
        <% else %>
          <%= f.password_field :password, class: "form-control", id: "pass1", 'data-parsley-equalto': "#pass2", type: "password" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <% if action_name == 'edit' or action_name == 'update' %>
        <%= f.label :new_password_confirmation, class: "col-sm-3 control-label" %>
      <% else %>
        <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
      <% end %>
      <div class="col-sm-6">
        <% if action_name == 'new' %>
          <%= f.password_field :password_confirmation, required: true, class: "form-control", id: "pass2", 'data-parsley-equalto': "#pass1", type: "password" %>
        <% else %>
          <%= f.password_field :password_confirmation, class: "form-control", id: "pass2", 'data-parsley-equalto': "#pass1", type: "password" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :company_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :company_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :surname, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :surname, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nip, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.number_field :nip, class: "form-control", 'data-parsley-type': "digits", type: "text", 'data-parsley-length': "[10,10]" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pesel, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :pesel, class: "form-control", 'data-parsley-type': "digits", type: "text", 'data-parsley-length': "[11,11]"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :id_number, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :id_number, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :workplace, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :workplace, class: "form-control" %>
    </div>
  </div>
 <div class="form-group">
    <%= f.label :range_of_activity, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :range_of_activity, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_phone, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :first_phone, class: "form-control", placeholder: I18n.t('helpers.placeholder.phone_example') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :second_phone, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :second_phone, class: "form-control", placeholder: I18n.t('helpers.placeholder.phone_example') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :person_status, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :person_status_id, options_for_select(@person_statuses.collect{|s| [s.name, s.id]}, [@current_person_status.name, @current_person_status.id]), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :place, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :place, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <% if can? :manage, Person %>
    <div class="form-group">
      <%= f.label :get_role, class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <% if !@current_role.nil? %>
          <%= f.select :role_id, options_for_select(@roles.collect{|r| [r.name, r.id]}, [@current_role.name, @current_role.id]), {}, class: "form-control" %>
        <% else %>
          <%= f.select :role_id, options_for_select(@roles.collect{|r| [r.name, r.id]}, []), {include_blank: ""}, class: "form-control", required: true %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.fields_for :person_attachments, @person.person_attachments.build do |b| %>
      <div class="form-group">
        <%= b.label :attachment, class: "col-sm-3 control-label" %>
        <div class="col-sm-6 file_field">
          <%= b.file_field :attachment, multiple: true, name: "person_attachments[attachment][]", type: "file", class: "filestyle" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <div class="pull-right">
        <%= link_to I18n.t('helpers.link_to.cancel'), :back, class: "btn btn-default btn-rad" %>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :js_scripts do %>
  <script type="text/javascript">
    $(":file").filestyle('buttonText', "Wybierz załączniki");
    $("#pass1").focusout(function(){
      $("#pass2").parsley().reset();
    });
    $("#pass2").focusout(function(){
      $("#pass1").parsley().reset();
    });
  </script>
<% end %>
