<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat">
        <div class="header">
          <h3><%= I18n.t('headlines.' + controller_name.singularize + '.edit') %></h3>
        </div>
        <div class="content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>