<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat">
        <div class="header">
          <h3><%= I18n.t('headlines.' + controller_name.singularize + '.index') %></h3>
        </div>
        <div class="content">
          <div class="table-responsive">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-sm-12">
                  <div id="datatable_filter" class="dataTables_filter">
                    <%= render 'search/form' %>
                <%= form_tag destroy_multiple_people_path, method: :delete do %>
                 <div class="buttons-list-edit">
                  <%= link_to I18n.t('helpers.link_to.person.create'), new_person_path, class:"btn btn-success btn-rad" if can? :new, Person %>
                    <% unless @people.nil? %>
                      <%= submit_tag I18n.t('helpers.link_to.person.destroy_multiple'), data: {confirm: I18n.t('helpers.link_to.person.destroy_multiple_message')}, class:"btn btn-danger btn-rad" if can? :destroy, Person %>
                    <% end %>
                    <% if can? :show, @person %>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
                          <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to I18n.t('helpers.link_to.download_pdf'), people_path(format: :pdf, search: params[:search], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                            <li><%= link_to I18n.t('helpers.link_to.download_csv'), people_path(format: :csv, search: params[:search], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                            <li><%= link_to I18n.t('helpers.link_to.download_xls'), people_path(format: :xls, search: params[:search], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                          </ul>
                        </div>
                    </div>
                      <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
                <table aria-describedby="datatable_info" class="table table-bordered dataTable" id="datatable">
                  <thead>
                    <tr role="row">
                      <th><div class="checkbox checkbox-primary"><%= check_box_tag "selectAll", "selectAll" %><label for="checkbox1"></label></div></th>
                        <% [:id, :username, :email, :name, :surname, :nip, :pesel, :id_number, :workplace, :get_role].each do |column| %>
                        <%= sortable column, I18n.t('helpers.label.person.' + column.to_s) %>
                      <% end %>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% unless @people.nil? %>
                      <% @people.each do |person| %>
                        <tr>
                          <td><div class="checkbox checkbox-info"><%= check_box_tag "people[]", person.id %><label for="checkbox1"></label></div></td>
                          <td><%= link_to person.id, person_path(person.id) %></td>
                          <td><%= link_to person.username, person_path(person.id) %></td>
                            <% [:email, :name, :surname, :nip, :pesel, :id_number, :workplace, :get_role].each do |col| %>
                            <% if ![:get_role].include? col %>
                              <td> <%= person.send(col) %></td>
                            <% else %>
                              <td><%= person.get_role %></td>
                            <% end %>
                          <% end %>
                          <td class="text-center">
                            <% if can? :show, person and !person.person_attachments.empty? %>
                              <%= link_to download_attachments_person_path(person) do %>
                                <i class="fa fa-paperclip"></i>
                              <% end %>
                            <% end %>
                            <% if can? :update, person %>
                              <%= link_to edit_person_path(person) do %>
                                <i class="fa fa-pencil"></i>
                              <% end %>
                            <% end %>
                            <% if can? :destroy, person %>
                              <%= link_to person_path(person), method: :delete, data: {confirm: I18n.t('helpers.link_to.person.destroy_single_message', person: person.get_name_and_surname_or_username)} do %>
                                <i class="fa fa-times"></i>
                              <% end %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
                <div class="form-pagination">
                  <% unless @people.nil? %>
                    <%= will_paginate @people %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_scripts do %>
  <script>
    $('#selectAll').click(function() {
       if (this.checked) {
           $(':checkbox').each(function() {
               this.checked = true;
           });
       } else {
          $(':checkbox').each(function() {
               this.checked = false;
           });
       }
    });
  </script>
<% end %>
