<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat attach">
       <div class="header">
          <h3>Dodaj załącznik</h3>
        </div>
         <%= form_for :person_attachments, url: url_for(controller: 'people', action: 'create_attachment'), html: {class: "form-horizontal group-border-dashed"} do |p| %>
          <%= hidden_field :person_id, params[:id] %>
          <div class="form-group">
            <%= p.label I18n.t('helpers.label.person.person_attachments.attachment'), class: "col-sm-3 control-label" %>
            <div class="col-sm-6 file_field">
              <%= p.file_field :attachment, multiple: true, name: "person_attachments[attachment][]", type: "file", class: "filestyle" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9">
              <div class="pull-right">
                <%= link_to I18n.t('helpers.link_to.cancel'), :back, class: "btn btn-default btn-rad" %>
                <%= p.submit I18n.t('helpers.submit.person_attachments.create'), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
        <% content_for :js_scripts do %>
          <script type="text/javascript">
            $(":file").filestyle('buttonText', "Wybierz załączniki");
          </script>
        <% end %>
      </div>
    </div>
  </div>
</div>