<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat single-person">
        <div class="header">
          <h2><%= @person.get_name_and_surname_or_username %></h2>
          <h5><%= @person.username %></h5>
        </div>
        <div class="content">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cl-mcont user-data">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="tab-container">
        <ul class="nav nav-tabs">
          <li class="active"><a aria-expanded="true" href="#osobowe" data-toggle="tab">Dane osobowe</a></li>
          <li class=""><a aria-expanded="false" href="#firmowe" data-toggle="tab">Dane firmowe</a></li>
          <li class=""><a aria-expanded="false" href="#pozostale" data-toggle="tab">Pozostałe</a></li>
          <li class=""><a aria-expanded="false" href="#attachment" data-toggle="tab">Załączniki</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane cont active" id="osobowe">
              <div class="content">
                <table class="no-border">
                  <thead class="no-border">
                   <tr>
                      <td class="group-data">Dane personalne</td>
                      <td>Imię</td>
                      <td><%= @person.name %></td>
                    </tr>
                    <% [:surname, :nip, :pesel, :id_number].each do |row| %>
                    <tr>
                      <td></td>
                      <td><%=  I18n.t('helpers.label.person.' + row.to_s) %></td>
                      <td><%= @person.send(row) %></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td class="group-data">Adres</td>
                      <td>Miejscowość</td>
                      <td><%= @person.place %></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= I18n.t('helpers.label.person.address') %></td>
                      <td><%= @person.address %></td>
                    </tr>
                    <% [:first_phone, :second_phone, :email].each do |row| %>
                      <tr>
                        <% if row == "first_phone" %>
                          <td class="group-data">Kontakt</td>
                        <% else %>
                          <td></td>
                        <% end %>
                        <td><%=  I18n.t('helpers.label.person.' + row.to_s) %></td>
                        <td><%= @person.send(row) %></td>
                      </tr>
                    <% end %>
                  </thead>
                </table>
            </div>
          </div>
          <div class="tab-pane cont" id="firmowe">
            <div class="content">
                <table class="no-border">
                  <thead class="no-border">
                    <tr>
                      <td class="group-data">Dane Firmowe</td>
                      <td>Nazwa Firmy</td>
                      <td><%= @person.company_name %></td>
                    </tr>
                    <% [:workplace, :range_of_activity, :get_person_status].each do |row| %>
                    <tr>
                      <td></td>
                      <td><%=  I18n.t('helpers.label.person.' + row.to_s) %></td>
                      <td><%= @person.send(row) %></td>
                    </tr>
                    <% end %>
                  </thead>
                </table>
            </div>
          </div>
          <div class="tab-pane cont" id="pozostale">
            <div class="content">
                <table class="no-border">
                  <thead class="no-border">
                    <tr>
                      <td class="group-data">Pozostałe informacje</td>
                      <td>Nazwa użytkownika</td>
                      <td><%= @person.username %></td>
                    </tr>
                    <% [:id, :last_sign_in_at, :get_role].each do |row| %>
                    <tr>
                      <td></td>
                      <td><%=  I18n.t('helpers.label.person.' + row.to_s) %></td>
                      <td><%= @person.send(row) %></td>
                    </tr>
                    <% end %>
                  </thead>
                </table>
            </div>
          </div>
          <div class="tab-pane cont" id="attachment">
              <div class="content">
                <table class="no-border">
                  <thead class="no-border">
                     <td></td><td></td>
                      <% @person.person_attachments.each do |a| %>
                        <tr>
                          <td><%= link_to I18n.t('helpers.label.person.attachment_number') + a.id.to_s, download_attachment_people_path(a) %></td>
                          <td><%= link_to I18n.t('helpers.label.person.attachment_remove'), attachment_path(a), method: :delete, data: {confirm: I18n.t('helpers.link_to.person.attachment_destroy_message', number: a.id)} %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><%= link_to I18n.t('helpers.link_to.person.attachment_create'), new_attachment_people_path(id: @person.id) %></td>
                        <td><%= link_to I18n.t('helpers.link_to.person.attachments_download'),download_attachments_person_path(@person) unless @person.person_attachments.empty? %></td>
                      </tr>
                  </thead>
                </table>
            </div>
          </div>
        </div>
      </div>

      <% if can? :update, @person %>
        <%= link_to I18n.t('helpers.link_to.edit') + " #{@person.get_name_and_surname_or_username}", edit_person_path(@person), class:"btn btn-success" %>
      <% end %>
      <% if can? :destroy, @person %>
        <%= link_to I18n.t('helpers.link_to.destroy') + " #{@person.get_name_and_surname_or_username}", person_path(@person), method: :delete, data: {confirm:  I18n.t('helpers.link_to.person.destroy_single_message', person: @person.get_name_and_surname_or_username)}, class:"btn btn-danger" %>
      <% end %>
      <% if can? :show, @person %>
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
            <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to I18n.t('helpers.link_to.download_pdf'), person_path(format: :pdf) %></li>
              <li><%= link_to I18n.t('helpers.link_to.download_csv'), person_path(format: :csv) %></li>
              <li><%= link_to I18n.t('helpers.link_to.download_xls'), person_path(format: :xls) %></li>
            </ul>
        </div>
        <div class="blank-margin"></div>
      <% end %>
    </div>
  </div>
</div>
