<%= render 'layouts/xls', items: [@person], fields: [:id, :email, :company_name, :name, :surname, :nip, :pesel, :id_number, :workplace, :range_of_activity, :first_phone, :second_phone, :get_role, :get_person_status, :place, :address, :username, :last_sign_in_at] %>
