<% if !defined? special_path %>
  <% url_path = controller_name %>
<% else %>
  <% url_path = special_path %>
<% end %>
<%= form_tag eval(url_path + "_path"), method: 'get', id: 'query_form', class:"form-top-UI" do %>
  <div class="search-buttons">
    <% unless controller_name == "people" %>
      <div class="input-group date datetime" id="daterangepicker1">
        <%= text_field_tag :date_range, params[:date_range], placeholder: I18n.t('helpers.placeholder.date'), class: 'form-control' %>
        <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    <% end %>
    <%= text_field_tag :search, params[:search], placeholder: I18n.t('helpers.placeholder.search'), class: "form-control search" %>
    <%= submit_tag  I18n.t('search_button'), name: nil, class: "btn btn-primary" %>
    <% if controller_name != "people" %>
    <% end %>
    <div class="options-select">
      <%= select_per_page %>
    </div>
  </div>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<% end %>
