<div class="cl-mcont">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-flat">
         <div class="head-month">
            <div class="header">
                <h3>
                  <% if current_person.admin? %>
                    <%= I18n.t('panel.orders_from_this_month') %>
                  <% elsif current_person.get_role == I18n.t('roles.partner') %>
                    <%= I18n.t('panel.your_orders_from_this_month') %>
                  <% elsif current_person.get_role == I18n.t('roles.employee') %>
                    <%= I18n.t('panel.orders_accepted_by_you_from_this_month') %>
                  <% end %>
                </h3>
            </div>
          </div>
        </div>
      </div>
    <% values_and_colors = [[:repair, "#4D90FD"], [:diagnosis, "#FD6A5E"], [:cancelled, "#B450B2"], [:verification, "#B450B2"]] %>
    <% 4.times do |time| %>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="block-flat">
          <div class="header">
            <% value = how_many_percent_orders_by_status(I18n.t('charts.order.' + values_and_colors[time][0].to_s)) %>
            <h3><%= link_to I18n.t('charts.order.' +  values_and_colors[time][0].to_s) + ": " + value.to_s, eval("orders_" + values_and_colors[time][0].to_s + "_from_this_month_path") %></h3>
          </div>
          <div class="content text-center">
            <div class="epie-chart" data-barcolor="<%= values_and_colors[time][1] %>" data-trackcolor="#F3F3F3" data-percent="<%= value / @orders.size.to_f * 100 %>"><span>0%</span></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
   <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="block-flat dark-box visitors">
            <h4 class="no-margin">
              <%= I18n.t('panel.current_month') %>
            </h4>
          <div class="row">
            <div class="counters col-md-4">
              <% if current_person.admin? %>
                <h1><%= Order.started_orders_from_this_month.count %></h1>
                <h1><%= Order.orders_cancelled_from_this_month.count %></h1>
              <% elsif current_person.role.name == I18n.t('roles.partner') %>
                <h1><%= Order.started_orders_from_this_month.where(person_id: current_person.id).count %></h1>
                <h1><%= Order.orders_cancelled_from_this_month.where(person_id: current_person.id).count %></h1>
              <% elsif current_person.role.name == I18n.t('roles.employee') %>
                <h1><%= Order.started_orders_from_this_month.where(who_took_the_order_id: current_person.id).count %></h1>
                <h1><%= Order.orders_cancelled_from_this_month.where(who_took_the_order_id: current_person.id).count %></h1>
              <% end %>
            </div>
            <div class="col-md-8">
              <div id="current-month" style="height: 140px;"></div>
            </div>
          </div>
          <div class="row footer">
            <div class="col-md-6"><p><i class=" fa fa-square"></i>
                <% if current_person.admin? %>
                  <%= I18n.t('panel.number_of_cancelled_orders') %>
                <% else %>
                  <%= I18n.t('panel.number_of_your_cancelled_orders') %>
                <% end %>
              </p>
            </div>
            <div class="col-md-6"><p><i class=" return fa fa-square"></i>
                <% if current_person.admin? %>
                  <%= I18n.t('panel.number_of_all_orders') %>
                <% else %>
                  <%= I18n.t('panel.number_of_all_your_orders') %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="block-flat dark-box visitors">
          <h4 class="no-margin"><%= I18n.t('panel.previous_month') %></h4>
        <div class="row">
          <div class="counters col-md-4">
            <% if current_person.admin? %>
              <h1><%= Order.orders_from_previous_month.count %></h1>
              <h1><%= Order.orders_cancelled_from_previous_month.count %></h1>
            <% elsif current_person.role.name == I18n.t('roles.partner') %>
              <h1><%= Order.orders_from_previous_month.where(person_id: current_person.id).count %></h1>
              <h1><%= Order.orders_cancelled_from_previous_month.where(person_id: current_person.id).count %></h1>
            <% elsif current_person.role.name == I18n.t('roles.employee') %>
              <h1><%= Order.orders_from_previous_month.where(who_took_the_order_id: current_person.id).count %></h1>
              <h1><%= Order.orders_cancelled_from_previous_month.where(who_took_the_order_id: current_person.id).count %></h1>
            <% end %>
          </div>
          <div class="col-md-8">
            <div id="previous-month" style="height: 140px;"></div>
          </div>
        </div>
        <div class="row footer">
          <div class="col-md-6"><p><i class=" fa fa-square"></i>
              <% if current_person.admin? %>
                <%= I18n.t('panel.number_of_cancelled_orders') %>
              <% else %>
                <%= I18n.t('panel.number_of_your_cancelled_orders') %>
              <% end %>
            </p>
          </div>
          <div class="col-md-6"><p><i class=" return fa fa-square"></i>
              <% if current_person.admin? %>
                <%= I18n.t('panel.number_of_all_orders') %>
              <% else %>
                <%= I18n.t('panel.number_of_all_your_orders') %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <% if current_person.admin? %>
      <div class="col-sm-12 col-md-6">
        <div class="block-flat">
          <div class="header">
            <h3><%= I18n.t('panel.partners_with_highest_number_of_orders') %></h3>
          </div>
          <div class="content overflow-hidden">
            <div id="piec" style="height: 300px; padding: 0px; position: relative;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="block-flat">
          <div class="header">
            <h3><%= I18n.t('panel.number_of_orders_from_last_6_months') %></h3>
          </div>
          <div class="content">
            <div id="site_statistics" style="height: 180px; padding: 0px; position: relative;"></div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <div class="row">
      <% if current_person.admin? %>
        <div class="col-sm-12 col-md-12">
      <% else %>
        <div class="col-md-6">
      <% end %>
      <% if current_person.admin? %>
        <div class="block-flat">
          <div class="header">
            <h3><%= I18n.t('panel.orders') %></h3>
          </div>
          <div class="content full-width">
            <div id="chart3-legend" class="legend-container"></div>
            <div id="chart3" style="height: 180px;"></div>
            <div class="counter-detail">
              <div class="counter"><div class="spk1"></div><p>Obecny miesiąc</p><h5><%= Order.counter_orders_by_month(Time.now.year, Time.now.month) %></h5></div>
              <div class="counter"><div class="spk2"></div><p>Poprzedni miesiąc</p><h5><%= Order.counter_orders_by_month(Time.now.year, Time.now.month - 1) %></h5></div>
            </div>
          </div>
        </div>
      <% end %>
      <% unless current_person.get_role == I18n.t('roles.employee') %>
        <div class="block-flat">
          <div class="header">
            <% if current_person.admin? %>
              <h3><%= I18n.t('panel.unpaid_bills') %></h3>
            <% else %>
              <h3><%= I18n.t('panel.your_unpaid_bills') %></h3>
            <% end %>
          </div>
          <div class="content">
            <div class="table-responsive">
              <table class="no-border hover list">
                <tbody class="no-border-y">
                  <% @bills.each do |bill| %>
                    <tr class="items">
                      <td style="width: 10%;">
                        <% if bill.issued_date.nil? %>
                          <span class="label label-danger"><%= I18n.t('panel.no_issued_date') %></span>
                        <% else %>
                          <span class="label label-warning"><%= bill.issued_date %></span>
                        <% end %>
                      </td>
                      <td><p>
                        <%= link_to bill_path(bill) do %>
                          <strong><%= bill.number %></strong><span><%= bill.amount %></span>
                        <% end %>
                      </p></td>
                      <% if can? :delete, bill or can? :edit, bill %>
                        <td class="text-right" style="width: 15%;">
                          <% if can? :edit, bill %>
                            <%= link_to edit_bill_path(bill), class: "label label-default" do %>
                              <i class="fa fa-pencil"></i>
                            <% end %>
                          <% end %>
                          <% if can? :delete, bill %>
                            <%= link_to bill_path(bill), method: :delete, data: {confirm: I18n.t('panel.unpaid_bills_delete_confirmation')}, class: "label label-danger" do %>
                              <i class="fa fa-times"></i>
                            <% end %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= content_for :js_scripts do %>
  <% this_month_orders = Order.orders_by_month(Time.now.year, Time.now.month) %>
  <% previous_month_orders = Order.orders_by_month(Time.now.year, Time.now.month - 1) %>
<script type="text/javascript">
  $(document).ready(function(){
    $(".spk1").sparkline([
      <% this_month_orders.each do |value| %>
        <%= "#{value}," %>
      <% end %>
    ], { type: 'bar', width: '200px', barWidth: 4, height: '70px',barColor: '#19B698'});
    $(".spk2").sparkline([
      <% previous_month_orders.each do |value| %>
        <%= "#{value}," %>
      <% end %>
    ], { type: 'bar', width: '200px', barWidth: 4, height: '70px',barColor: '#E85647'});
  });
</script>
  <script type="text/javascript">
  $(function(){
    $('.epie-chart').easyPieChart({
      animate: 1000,
      lineWidth: 8,
      size: 150,
      onStep: function(val){//Update current value while animation
        $("span", this.$el).html(parseInt(val) + "%");
      }
    });

    if (!jQuery.plot) {
      return;
    }
    var data = [];
    var totalPoints = 250;
    // random data generator for plot charts

    function getRandomData() {
      if (data.length > 0) data = data.slice(1);
      // do a random walk
      while (data.length < totalPoints) {
      var prev = data.length > 0 ? data[data.length - 1] : 50;
      var y = prev + Math.random() * 10 - 5;
      if (y < 0) y = 0;
      if (y > 100) y = 100;
      data.push(y);
      }
      // zip the generated y values with the x values
      var res = [];
      for (var i = 0; i < data.length; ++i) res.push([i, data[i]])
      return res;
    }

    function showTooltip(x, y, contents) {
      $("<div id='tooltip'>" + contents + "</div>").css({
        position: "absolute",
        display: "none",
        top: y + 5,
        left: x + 5,
        border: "1px solid #000",
        padding: "5px",
        'color':'#fff',
        'border-radius':'2px',
        'font-size':'11px',
        "background-color": "#000",
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }

    function randValue() {
      return (Math.floor(Math.random() * (1 + 50 - 20))) + 10;
    }
          /*COM Chart*/
      var data_com2 = [
        <% this_month_orders.each_with_index do |value, index| %>
          <% if index == this_month_orders.size - 1 %>
            <%= "[#{index+1}, #{value}]" %>
          <% else %>
            <%= "[#{index+1}, #{value}]," %>
          <% end %>
        <% end %>
      ];
      var data_com = [
        <% previous_month_orders.each_with_index do |value, index| %>
          <% if index == previous_month_orders.size - 1 %>
            <%= "[#{index+1}, #{value}]" %>
          <% else %>
            <%= "[#{index+1}, #{value}]," %>
          <% end %>
        <% end %>
      ];
       var names = [
                    "Alpha",
                    "Beta",
                    "Gamma",
                    "Delta",
                    "Epsilon",
                    "Zeta",
                    "Eta",
                    "Theta"
                ];

<% if current_person.admin? %>
      var plot_statistics = $.plot($("#chart3"), [{
        data: data_com, showLabels: true, label: "Poprzedni miesiąc", labelPlacement: "below", canvasRender: true, cColor: "#FFFFFF"
      },{
        data: data_com2, showLabels: true, label: "Obecny miesiąc", labelPlacement: "below", canvasRender: true, cColor: "#FFFFFF"
      }
      ], {
        series: {
          lines: {
            show: true,
            lineWidth: 1,
            fill: true,
             fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.5}] }
          },
          fillColor: "rgba(0, 0, 0, 1)",
          points: {
            show: false,
            fill: true
          },
          shadowSize: 2
        },
        legend:{
          show: true,
           position:"nw",
           backgroundColor: "green",
           container: $("#chart3-legend")
        },
        grid: {
          show:false,
          margin: 0,
          labelMargin: 0,
           axisMargin: 0,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(255,255,255,1)",
          borderWidth: 0
        },
        colors: ["#CCCED5","#1fb594"],
        xaxis: {
          autoscaleMargin: 0,
          ticks: 11,
          tickDecimals: 0
        },
        yaxis: {
          autoscaleMargin: 0.2,
          ticks: 5,
          tickDecimals: 0
        }
      });
      var six_last_counter_orders_by_month = <%= Order.six_last_counter_orders_by_month(Time.now.year, Time.now.month) %>;
      var plot_statistics2 = $.plot($("#site_statistics"), [{
        data: six_last_counter_orders_by_month,
        label: "Miesiąc"
      }
      ], {
        series: {
          lines: {
            show: true,
            lineWidth: 2,
            fill: true,
            fillColor: {
              colors: [{
                opacity: 0.25
              }, {
                opacity: 0.25
              }
              ]
            }
          },
          points: {
            show: true
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },
        colors: ["#50ACFE", "#4A8CF7", "#52e136"],
        xaxis: {
          ticks: 11,
          tickDecimals: 0
        },
        xaxis: { ticks:[]},
        yaxis: {
          ticks: 5,
          tickDecimals: 0
        }
      });

       var previousPoint = null;
      $("#chart3").bind("plothover", function (event, pos, item) {

        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
            showTooltip(item.pageX, item.pageY,
            item.series.label + "<br>Dzień " + Math.floor(x) + "<br>" + Math.floor(y) + " zleceń");
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      });

      $("#site_statistics").bind("plothover", function (event, pos, item) {

        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
            if (parseFloat(x) <= 0){
              x = 12 + parseFloat(x);
            }
            if(x == 1){
              x = "Styczeń"
            }else if(x == 2){
              x = "Luty"
            }else if(x == 3){
              x = "Marzec"
            }else if(x == 4){
              x = "Kwieceń"
            }else if(x == 5){
              x = "Maj"
            }else if(x == 6){
              x = "Czerwiec"
            }else if(x == 7){
              x = "Lipiec"
            }else if(x == 8){
              x = "Sierpień"
            }else if(x == 9){
              x = "Wrzesień"
            }else if(x == 10){
              x = "Paźdiernik"
            }else if(x == 11){
              x = "Listopad"
            }else if(x == 12){
              x = "Grudzień"
            }
            showTooltip(item.pageX, item.pageY,
            x + "<br>" + Math.floor(y) + " zleceń");
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      });

      <% best_people = Person.ten_best_people %>

        /*Pie Chart*/
        var data = [
          <% best_people.each_with_index do |person, index| %>
            <% if index == best_people.size - 1 %>
              { label: "<%= person.name[0] + '.' + person.surname %>", data: "<%= person.orders_count.to_s %>"}
            <% else %>
              { label: "<%= person.name[0] + '.' + person.surname %>", data: "<%= person.orders_count.to_s %>"},
            <% end %>
          <% end %>
        ];

      $.plot('#piec', data, {
        series: {
          pie: {
            show: true,
            innerRadius: 0.27,
            shadow:{
              top: 5,
              left: 15,
              alpha:0.3
            },
            stroke:{
              width:0
            },
            label: {
                        show: true,
                        formatter: function (label, series) {
                            return '<div style="font-size:12px;text-align:center;padding:2px;color:#333;">' + label + '</div>';

                        }
                    },
            highlight:{
              opacity: 0.08
            }
          }
        },
        grid: {
          hoverable: true,
          clickable: true
        },
        colors: ["#5793f3", "#dd4d79", "#bd3b47","#dd4444","#fd9c35","#fec42c","#d4df5a","#5578c2"],
        legend: {
          show: false
        }
      });
<% end %>
<% if current_person.admin? %>
      var currentMonth = [
      { label: "", data: "<%= Order.started_orders_from_this_month.count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_this_month.count %>"},
      ];
<% elsif current_person.role.name == I18n.t('roles.partner') %>
      var currentMonth = [
      { label: "", data: "<%= Order.started_orders_from_this_month.where(person_id: current_person.id).count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_this_month.where(person_id: current_person.id).count %>"},
      ];
<% elsif current_person.role.name == I18n.t('roles.employee') %>
      var currentMonth = [
      { label: "", data: "<%= Order.started_orders_from_this_month.where(who_took_the_order_id: current_person.id).count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_this_month.where(who_took_the_order_id: current_person.id).count %>"},
      ];
<% end %>
      $.plot('#current-month', currentMonth, {
        series: {
          pie: {
            show: true,
            innerRadius: 0.55,
            shadow:{
              top: 5,
              left: 15,
              alpha:0.3
            },
            stroke:{
              color:'#333',
              width:0
            },
            label: {
              show: false
            },
            highlight:{
              opacity: 0.08
            }
          }
        },
        grid: {
          hoverable: true,
          clickable: true
        },
        colors: ["#1DD2AF", "#FFFFFF"],
        legend: {
          show: false
        }
      });
<% if current_person.admin? %>
      var previousMonth = [
      { label: "", data: "<%= Order.orders_from_previous_month.count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_previous_month.count %>"},
      ];
<% elsif current_person.role.name == I18n.t('roles.partner') %>
      var previousMonth = [
      { label: "", data: "<%= Order.orders_from_previous_month.where(person_id: current_person.id).count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_previous_month.where(person_id: current_person.id).count %>"},
      ];
<% elsif current_person.role.name == I18n.t('roles.employee') %>
      var previousMonth = [
      { label: "", data: "<%= Order.orders_from_previous_month.where(who_took_the_order_id: current_person.id).count %>"},
      { label: "", data: "<%= Order.orders_cancelled_from_previous_month.where(who_took_the_order_id: current_person.id).count %>"},
      ];
<% end %>
      $.plot('#previous-month', previousMonth, {
        series: {
          pie: {
            show: true,
            innerRadius: 0.55,
            shadow:{
              top: 5,
              left: 15,
              alpha:0.3
            },
            stroke:{
              color:'#333',
              width:0
            },
            label: {
              show: false
            },
            highlight:{
              opacity: 0.08
            }
          }
        },
        grid: {
          hoverable: true,
          clickable: true
        },
        colors: ["#1DD2AF", "#FFFFFF"],
        legend: {
          show: false
        }
      });

      /*Map*/
      $('#world-map').vectorMap({
          map: 'world_mill_en',
          backgroundColor: '#383A41',
          regionStyle: {
            initial: {
              fill: '#707482',
            },
            hover: {
              "fill-opacity": 0.8
            }
          },
          markerStyle:{
              initial:{
                r: 8
              },
               hover: {
                r: 12,
                stroke: 'rgba(29,210,175,0.3)',
                "stroke-width": 6
              }
            },
            markers: [
                {latLng: [41.90, 12.45], name: '1.512 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},
                {latLng: [1.3, 103.8], name: '940 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},
                {latLng: [51.511214, -0.119824], name: '530 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},
                {latLng: [40.714353, -74.005973], name: '340 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},
                {latLng: [-22.913395, -43.200710], name: '1.800 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}}
            ]
        });

        /*Codemirror*/
        var myCodeMirror = CodeMirror($('#console')[0], {
          lineNumbers: true,
          theme: 'ambiance',
          value: '<!-- Create a simple CodeMirror instance -->\n<div class="block">\n\t<a href="index.html"> Home </a>\n</div>',
          mode:  "text/html"
        });

});
</script>
<% end %>
