<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>
  <div id="cl-wrapper" class="forgotpassword-container">
    <div class="middle">
      <div class="block-flat">
        <div class="header">
          <h3 class="text-center"><%= image_tag("logo.png", :alt => "rss feed") %></h3>
        </div>
        <div>
          <form style="margin-bottom: 0px !important;" class="form-horizontal" action="index.html" parsley-validate="" novalidate="">
            <div class="content">
              <h5 class="title text-center"><strong>Zapomniałeś hasła?</strong></h5>
              <p class="text-center">Nie martw się!</p>
              <hr>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <%= f.text_field :login, autofocus: true, placeholder:"Nazwa użytkownika lub hasło", class:"form-control", type:"email" %>
                  </div>
                  <div id="email-error"></div>
                </div>
              </div>
              <p class="spacer text-center"><%= link_to "Pamiętasz hasło?", new_person_session_path %></a></p>
              <%= f.submit "Wyślij do mnie instrukcję przywracania hasła", class:"btn btn-block btn-primary btn-rad btn-lg" %>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center out-links logo-ideas"><a href="http://ideasfactory.pl" target="_blank"><%= image_tag 'ideasfactory_logo' %>© IdeasFactory.pl</a></div>
    </div>
  </div>
<% end %>
<%= render "devise/shared/links" %>
