<h1>
  <b><%= I18n.t('.pdf.bill') + " " + I18n.t('.pdf.number') + " " + bill.id.to_s %></b>
</h1>
<table>
  <% [:number, :issued_date, :date_of_payment, :amount, :get_person, :get_bill_status].each do |field| %>
    <% unless bill.send(field).blank? %>
      <tr><td><%= I18n.t("helpers.label.bill.#{field}") %>:</td><td><%= bill.send(field) %></td></tr>
    <% end %>
  <% end %>
</table>
