<ul>
  <% @bill.errors.messages.each do |field, messages| %>
    <% messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>
<%= form_for @bill, html: {multipart: true, class: "form-horizontal group-border-dashed", role:"form", novalidate:"", 'data-parsley-validate':""} do |f| %>
  <div class="form-group">
    <%= f.label :number, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :number, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :issued_date, class: "col-sm-3 control-label"%>
    <div class="col-sm-6">
      <div class="input-group date datetime" id="datetimepicker_bill1">
        <% if action_name == "new" %>
          <%= f.text_field :issued_date, class: 'form-control', value: DateTime.now.day.to_s.rjust(2, "0") + "-" + DateTime.now.month.to_s.rjust(2, "0") + "-" + DateTime.now.year.to_s.rjust(2, "0") %>
        <% else %>
          <%= f.text_field :issued_date, class: 'form-control' %>
        <% end %>
        <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_of_payment, class: "col-sm-3 control-label"%>
    <div class="col-sm-6">
      <div class="input-group date datetime" id="datetimepicker_bill2">
        <%= f.text_field :date_of_payment, class: 'form-control' %>
        <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :person_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= select_tag :person_id, options_for_select(@partners.collect{|p| [p.get_name_and_surname_or_username, p.id]}, [@actual_partner]), {include_blank: "", class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :amount, step: "0.01", min: 0, class: "form-control", 'parsley-type': "number" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bill_status_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :bill_status_id, options_for_select(@bill_statuses.collect{|bs| [bs.name, bs.id]}, [@actual_bill_status]), {include_blank: ""}, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.fields_for :bill_attachments, @bill.bill_attachments.build do |b| %>
      <div class="form-group">
        <%= b.label :attachment, class: "col-sm-3 control-label" %>
        <div class="col-sm-6 file_field">
          <%= b.file_field :attachment, multiple: true, name: "bill_attachments[attachment][]", type: "file", class: "filestyle" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <div class="pull-right">
      <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
