<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat">
        <div class="header">
          <h2><%= I18n.t('headlines.' + controller_name.singularize + '.index') %></h2>
        </div>
        <div class="content">
          <div class="table-responsive">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-sm-12">
                  <div id="datatable_filter" class="dataTables_filter">
                    <%= render 'search/form', special_path: request.original_url.split("/").last.split("?").first %>
                <%= form_tag destroy_multiple_bills_path, method: :delete do %>
                 <div class="buttons-list-edit">
                  <%= link_to I18n.t('helpers.link_to.bill.create'), new_bill_path, class:"btn btn-success btn-rad" if can? :new, Bill %>
                  <% unless @bills.nil? %>
                    <%= submit_tag I18n.t('helpers.link_to.bill.destroy_multiple'), data: {confirm: I18n.t('helpers.link_to.bill.destroy_multiple_message')}, class:"btn btn-danger btn-rad" if can? :destroy, Bill %>
                  <% end %>
                  <% if can? :show, @bill %>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
                      <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to I18n.t('helpers.link_to.download_pdf'), bills_path(format: :pdf, search: params[:search], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                        <li><%= link_to I18n.t('helpers.link_to.download_csv'), bills_path(format: :csv, search: params[:search], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                        <li><%= link_to I18n.t('helpers.link_to.download_xls'), bills_path(format: :xls, search: params[:search], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                      </ul>
                    </div>
                  </div>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>

              <% if cannot? :destroy_multiple, Bill %>
                </div>
              <% end %>
              </div>
                <table aria-describedby="datatable_info" class="table table-bordered dataTable" id="datatable">
                <thead>
                  <tr>
                    <% if can? :destroy_multiple, Bill %>
                      <th><div class="checkbox checkbox-primary"><%= check_box_tag "selectAll", "selectAll" %><label for="checkbox1"></label></div></th>
                    <% end %>
                    <% [:id, :number, :issued_date, :date_of_payment, :amount, :get_person, :get_bill_status].each do |column| %>
                      <%= sortable column, I18n.t('helpers.label.bill.' + column.to_s) %>
                    <% end %>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% unless @bills.nil? %>
                      <% @bills.each do |bill| %>
                        <% if bill.get_bill_status == I18n.t('bill_statuses.unpaid') %>
                          <tr class="red">
                        <% else %>
                          <tr>
                        <% end %>
                            <% if can? :destroy, bill %>
                              <td><div class="checkbox checkbox-info"><%= check_box_tag "bills[]", bill.id %><label for="checkbox1"></label></div></td>
                            <% end %>
                            <td><%= link_to bill.id, bill_path(bill.id) %></td>
                            <% [:number, :issued_date, :date_of_payment, :amount, :get_person, :get_bill_status].each do |col| %>
                              <td><%= bill.send(col) %></td>
                            <% end %>
                            <% if can? :update, bill or can? :destroy, bill or !bill.bill_attachments.empty? %>
                              <td class="text-center">
                                <% if can? :show, bill and !bill.bill_attachments.empty? %>
                                  <%= link_to download_attachments_bill_path(bill) do %>
                                    <i class="fa fa-save"></i>
                                  <% end %>
                                <% end %>
                                <% if can? :update, bill %>
                                  <%= link_to edit_bill_path(bill) do %>
                                    <i class="fa fa-pencil"></i>
                                  <% end %>
                                <% end %>
                                <% if can? :destroy, bill %>
                                  <%= link_to bill_path(bill), method: :delete, data: {confirm: I18n.t('helpers.link_to.bill.destroy_single_message', bill: bill.id)} do %>
                                    <i class="fa fa-times"></i>
                                  <% end %>
                                <% end %>
                                <% if (can? :update, bill) && (bill.bill_status_id == BillStatus.find_by(name: I18n.t('bill_statuses.unpaid')).id) %>
                                  <%= link_to bill_path(bill, bill:{bill_status_id: BillStatus.find_by(name: I18n.t('bill_statuses.pay')).id}, redirect_to_list: true), method: :put do %>
                                    <i class="fa fa-dollar"></i>
                                  <% end %>
                                <% end %>
                              </td>
                            <% end %>
                          </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
                <div class="form-pagination">
                  <% unless @bills.nil? %>
                    <%= will_paginate @bills %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_scripts do %>
  <script>
    $('#selectAll').click(function() {
       if (this.checked) {
           $(':checkbox').each(function() {
               this.checked = true;
           });
       } else {
          $(':checkbox').each(function() {
               this.checked = false;
           });
       }
    });
  </script>
<% end %>
