<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="block-flat">
        <div class="header">
          <h3><%= @bill.number %></h3>
        </div>
        <div class="content">
          <table class="no-border">
            <tbody class="no-border-y">
              <% [:number, :id, :issued_date, :date_of_payment, :amount, :person_id, :created_by_id, :bill_status_id].each do |row| %>
              <tr>
                <td><%=  I18n.t('helpers.label.bill.' + row.to_s) %></td>
                <% if row == :person_id or row == :created_by_id %>
                  <td>
                    <% unless @bill.send(row).nil? %>
                      <%= Person.find(@bill.send(row)).get_name_and_surname_or_username %>
                    <% end %>
                  </td>
                <% elsif row == :bill_status_id %>
                  <td><%= BillStatus.find(@bill.send(row)).name %></td>
                <% else %>
                  <td><%= @bill.send(row) %></td>
                <% end %>
              </tr>
            <% end %>
            <td><strong><%= I18n.t('helpers.label.bill.attachment') %></strong></td><td></td>
            <% @bill.bill_attachments.each do |a| %>
              <tr>
                <td><%= link_to I18n.t('helpers.label.bill.attachment_number') + a.id.to_s, download_attachment_bills_path(a) %></td>
                <td>
                  <% if can? :destroy_attachment, @bill %>
                    <%= link_to  I18n.t('helpers.label.bill.attachment_remove'), attachment_path(a), method: :delete, data: {confirm: I18n.t('helpers.link_to.bill.attachment_destroy_message', number: a.id)} %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <% if can? :add_attachment, @bill %>
              <td><%= link_to I18n.t('helpers.link_to.bill.attachment_create'), new_attachment_bills_path(id: @bill.id) %></td><td><%= link_to I18n.t('helpers.link_to.bill.attachments_download'),download_attachments_bill_path(@bill) unless @bill.bill_attachments.empty? %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="button-line">
          <% if can? :update, @bill %>
            <%= link_to I18n.t('helpers.link_to.edit'), edit_bill_path(@bill), class:"btn btn-success" %>
          <% end %>
          <% if can? :destroy, @bill %>
            <%= link_to I18n.t('helpers.link_to.destroy'), bill_path(@bill), method: :delete, data: {confirm: I18n.t('helpers.link_to.bill.destroy_single_message', bill: @bill.id)}, class:"btn btn-danger" %>
          <% end %>
          <% if can? :show, @bill %>
            <div class="btn-group">
              <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
                <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to I18n.t('helpers.link_to.download_pdf'), bill_path(format: :pdf) %></li>
                  <li><%= link_to I18n.t('helpers.link_to.download_csv'), bill_path(format: :csv) %></li>
                  <li><%= link_to I18n.t('helpers.link_to.download_xls'), bill_path(format: :xls) %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
