<h1>
  <b><%= I18n.t('.pdf.order') + " " + I18n.t('.pdf.number') + " " + order.id.to_s %></b>
</h1>
<table>
  <% [:phone, :reason, :date, :amount, :place, :address, (:get_who_took_the_order if can? :get_who_took_the_order, Order), :get_person, :equipment_name, :equipment_type, :get_order_status, :accident].each do |field| %>
    <% if !field.nil? and order.send(field).present? %>
      <tr><td><%= I18n.t("helpers.label.order.#{field}") %>:</td><td><%= order.send(field) %></td></tr>
    <% end %>
  <% end %>
</table>
<table>
