<ul>
  <% @order.errors.messages.each do |field, messages| %>
    <% messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>
<%= form_for @order, html: {class: "form-horizontal group-border-dashed", role:"form", novalidate:"", 'data-parsley-validate':""} do |f| %>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :phone, required: true, class: "form-control", placeholder: I18n.t('helpers.placeholder.phone_example') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <div class="input-group date datetime" id="datetimepicker_order1">
        <% if action_name == "new" %>
          <%= f.text_field :date, class: 'form-control', value: DateTime.now.day.to_s.rjust(2, "0") + "-" + DateTime.now.month.to_s.rjust(2, "0") + "-" + DateTime.now.year.to_s.rjust(2, "0") + " " + DateTime.now.hour.to_s.rjust(2, "0") + ":" + DateTime.now.minute.to_s.rjust(2, "0") %>
        <% else %>
          <%= f.text_field :date, class: 'form-control' %>
        <% end %>
        <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :person_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :person_id, options_for_select(@partners.collect{|p| [p.get_name_and_surname_or_username, p.id]}, [@actual_person]), {include_blank: ""}, class: "form-control", required: true %>
    </div>
  </div>
  <% if can? :set_who_took_the_order, Order %>
    <div class="form-group">
      <%= f.label :who_took_the_order_id, class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= f.select :who_took_the_order_id, options_for_select(@employees.collect{|p| [p.get_name_and_surname_or_username, p.id]}, [@actual_who_took_the_order]), {include_blank: ""}, class: "form-control", required: true %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :order_status_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :order_status_id, options_for_select(@order_statuses.collect{|s| [s.name, s.id]}, [@current_status.id]), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reason, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :reason, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :amount, step: "0.01", min: 0, class: "form-control", 'parsley-type': "number" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :place, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :place, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :equipment_type, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :equipment_type, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :equipment_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :equipment_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :accident, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :accident, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <div class="pull-right">
      <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
