<% content_for :body_attributes do %>
  data-no-turbolink="true"
<% end %>
<div class="cl-mcont">
  <div class="row">
    <% values_and_colors = [[:repair, "#4D90FD"], [:diagnosis, "#FD6A5E"], [:cancelled, "#B450B2"], [:verification, "#B450B2"]] %>
    <% 4.times do |time| %>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="block-flat">
          <div class="header">
            <% value = how_many_percent_by_status(I18n.t('charts.order.' + values_and_colors[time][0].to_s)) %>
            <h3><%= I18n.t('charts.order.' +  values_and_colors[time][0].to_s) + ": " + value.to_s %></h3>
          </div>
          <div class="content text-center">
            <div class="epie-chart" data-barcolor="<%= values_and_colors[time][1] %>" data-trackcolor="#F3F3F3" data-percent="<%= value / @orders.size.to_f * 100 %>"><span>0%</span></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat">
        <div class="header">
          <h3><%= I18n.t('headlines.' + controller_name.singularize + '.index') %></h3>
        </div>
        <div class="content">
          <div class="table-responsive orders">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-sm-12">
                  <div id="datatable_filter" class="dataTables_filter">
                    <%= render 'search/form', special_path: request.original_url.split("/").last.split("?").first %>
                      <% if can? :create, Order %>
                        <%= form_tag import_orders_path, multipart: true, class: "form-horizontal group-border-dashed" do %>
                          <div class="import-button">
                             <span class="file-input btn btn-primary btn-file">
                              <%= file_field_tag :file, multiple: true, class: "" %><%= I18n.t('headlines.order.import') %>
                            </span>
                          </div>
                        <% end %>
                      <% end %>
                    <%= form_tag change_status_orders_path, id: 'main_form', remote: true do |f|%>
                      <div class="buttons-list-edit">
                        <%= link_to I18n.t('helpers.link_to.order.create'), new_order_path, class:"btn btn-success btn-rad" if can? :new, Order %>
                        <% unless @orders.nil? %>
                          <%= submit_tag I18n.t('helpers.link_to.order.destroy_multiple'), class:"btn btn-danger btn-rad" if can? :destroy, Order %>
                        <% end %>
                        <% counter = 0 %>
                        <% @orders.each do |order| %>
                          <% if can? :show, order %>
                            <% counter += 1 %>
                          <% end %>
                        <% end %>
                        <% if counter == @orders.size %>
                          <div class="btn-group">
                            <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
                            <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><%= link_to I18n.t('helpers.link_to.download_pdf'), orders_path(format: :pdf, search: params[:search], date_range: params[:date_range], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                              <li><%= link_to I18n.t('helpers.link_to.download_csv'), orders_path(format: :csv, search: params[:search], date_range: params[:date_range], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                              <li><%= link_to I18n.t('helpers.link_to.download_xls'), orders_path(format: :xls, search: params[:search], date_range: params[:date_range], date_range: params[:date_range], per_page: params[:per_page], direction: params[:direction], sort: params[:sort], page: params[:page]) %></li>
                            </ul>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <table aria-describedby="datatable_info" class="table table-bordered dataTable" id="datatable">
                  <thead>
                    <tr>
                      <% if can? :destroy, Order %>
                        <th>
                          <div class="checkbox checkbox-primary"><%= check_box_tag "selectAll", "selectAll" %><label for="checkbox1"></label></div>
                        </th>
                      <% end %>
                      <% [:order_id, :get_person, (:get_who_took_the_order if can? :get_who_took_the_order, Order), :equipment_type, :equipment_name, :accident, :place, :address, :phone, :reason, :get_date, :get_time, :order_status_id].each do |column| %>
                        <% if column != nil and column != :date %>
                          <%= sortable column, I18n.t('helpers.label.order.' + column.to_s) %>
                        <% end %>
                      <% end %>
                      <% if can? :update, @orders or can? :destroy, @orders %>
                        <th></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% unless @orders.nil? %>
                      <% @orders.each do |order| %>
                        <% if order.status == I18n.t('order_statuses.verification')%>
                          <tr class="red">
                          <% else %>
                            <tr>
                            <% end %>
                            <% if can? :destroy, order %>
                              <td>
                                <div class="checkbox checkbox-info"><%= check_box_tag "orders[]", order.id %><label for="checkbox1"></label></div>
                              </td>
                            <% end %>
                            <td><%= link_to order.id, order_path(order.id) %></td>
                            <% [:get_person, (:get_who_took_the_order if can? :get_who_took_the_order, Order), :equipment_type, :equipment_name, :accident, :place, :address, :phone, :reason, :get_date, :get_time].each do |col| %>
                              <% unless col.nil? %>
                                <% if col != :get_date %>
                                  <td><%= order.send(col) %></td>
                                <% else %>
                                  <td class="nospaceing"><%= order.send(col) %></td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <td>
                              <% if current_person.get_role != I18n.t('roles.employee') %>
                                <%= select_tag order.id, options_for_select(OrderStatus.all.uniq.collect{|o| [o.name, o.id]}, selected: [order.order_status_id]), {class: "select-status form-control"} %>
                              <% else %>
                                <%= order.get_order_status %>
                              <% end %>
                            </td>
                            <% if can? :update, order or can? :destroy, order %>
                              <td class="text-center">
                                <% if can? :update, order %>
                                  <%= link_to edit_order_path(order) do %>
                                    <i class="fa fa-pencil"></i>
                                  <% end %>
                                <% end %>
                                <% if can? :destroy, order %>
                                  <%= link_to order_path(order), method: :delete, data: {confirm: I18n.t('helpers.link_to.order.destroy_single_message', order: order.id)} do %>
                                    <i class="fa fa-times"></i>
                                  <% end %>
                                <% end %>
                              </td>
                            <% end %>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
                <div class="form-pagination">
                  <% unless @orders.nil? %>
                    <%= will_paginate @orders %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% content_for :js_scripts do %>
    <script>
      $('#selectAll').click(function() {
        if (this.checked) {
          $(':checkbox').each(function() {
            this.checked = true;
          });
        } else {
          $(':checkbox').each(function() {
            this.checked = false;
          });
        }
      });
      $('.epie-chart').easyPieChart({
        animate: 1000,
        lineWidth: 8,
        size: 150,
        onStep: function(val){//Update current value while animation
          $("span", this.$el).html(parseInt(val) + "%");
        }
      });
      $('input[type=file]').change(function(event){
        var target = $(event.target);

        if(target.val() != ''){
          $(target.parents('form').get(0)).submit(); //better ways to do it ^^

          event.stopPropagation();
          return false;
        }
      });
      $('.select-status').change(function() {
        var reason, selected, selected_order;
        selected = void 0;
        selected_order = void 0;
        reason = void 0;
        selected = $('<input>').attr('type', 'hidden').attr('name', 'selected').val($('#' + this.id + ' option:selected').text());
        $('#main_form').append($(selected));
        if ($.isNumeric(this.parentElement.parentElement.firstElementChild.nextElementSibling.textContent)) {
          selected_order = $('<input>').attr('type', 'hidden').attr('name', 'selected_order').val(this.parentElement.parentElement.firstElementChild.nextElementSibling.textContent);
        } else {
          selected_order = $('<input>').attr('type', 'hidden').attr('name', 'selected_order').val(this.parentElement.parentElement.firstElementChild.textContent);
        }
        if (selected[0].value == "<%= I18n.t('order_statuses.cancelled') %>"){
          reason = $('<input>').attr('type', 'hidden').attr('name', 'reason').val(prompt("<%= I18n.t('orders.change_status.reason_prompt') %>"));
          $('#main_form').append($(reason));
        } else {
          $('input[name=reason]').remove();
        }
        $('#main_form').append($(selected_order));
        $('#main_form').submit();
      });
      $(document).ready(function() {
        return $("#main_form").on("ajax:error ajax:success", function(e, xhr, status, error) {
          if(xhr !== "window.location = '/orders'"){
            $.gritter.add({
              title: (xhr.status == 200) ? '<%= I18n.t('notifications.success') %>' : '<%= I18n.t('notifications.error') %>',
              text: xhr.responseText,
              time: (xhr.status == 200) ? '20000' : '60000'
            });
          }
        });
      });
    </script>
  <% end %>
