<%= render 'layouts/xls', items: @orders, fields: [:id, :phone, :reason, :date, :amount, :place, :address, :get_who_took_the_order, :get_person, :equipment_type, :equipment_name, :get_order_status, :accident] %>
