<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="block-flat">
        <div class="header">
          <h3><%=I18n.t('headlines.order.show', order: @order.id) %></h3>
        </div>
        <div class="content">
          <table class="no-border">
            <tbody class="no-border-y">
              <% [:phone, :reason, :get_date, :get_time, :amount, :place, :address, (:get_who_took_the_order if can? :get_who_took_the_order, Order), :get_person, :equipment_type, :equipment_name, :get_order_status, :accident].each do |row| %>
                <% unless row.nil? %>
                  <tr>
                    <td><%=  I18n.t('helpers.label.order.' + row.to_s) %></td>
                    <td><%= @order.send(row) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="button-line">
          <% if can? :update, @order %>
            <%= link_to I18n.t('helpers.link_to.edit'), edit_order_path(@order), class:"btn btn-success" %>
          <% end %>
          <% if can? :destroy, @order %>
            <%= link_to I18n.t('helpers.link_to.destroy'), order_path(@order), method: :delete, data: {confirm: I18n.t('helpers.link_to.order.destroy_single_message', order: @order.id)}, class:"btn btn-danger" %>
          <% end %>
          <% if can? :show, @order %>
            <div class="btn-group">
              <button type="button" class="btn btn-info" data-toggle="dropdown"><%= I18n.t('helpers.link_to.download') %></button>
                <button aria-expanded="false" type="button" class="btn btn-info btn-mono2 dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to I18n.t('helpers.link_to.download_pdf'), order_path(format: :pdf) %></li>
                  <li><%= link_to I18n.t('helpers.link_to.download_csv'), order_path(format: :csv) %></li>
                  <li><%= link_to I18n.t('helpers.link_to.download_xls'), order_path(format: :xls) %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
