<% if can? :get_who_took_the_order, Order %>
  <%= render 'layouts/xls', items: [@order], fields: [:id, :phone, :reason, :date, :amount, :place, :address, :get_who_took_the_order, :get_person, :equipment_type, :equipment_name, :get_order_status, :accident] %>
<% else %>
  <%= render 'layouts/xls', items: [@order], fields: [:id, :phone, :reason, :date, :amount, :place, :address, :get_person, :equipment_type, :equipment_name, :get_order_status, :accident] %>
<% end %>
