<ul>
  <% @alert.errors.messages.each do |field, messages| %>
    <% messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>
<%= form_for @alert, html: {class: "form-horizontal group-border-dashed", role:"form", novalidate:"", 'data-parsley-validate':""} do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :description, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <% @roles.each do |alert| %>
        <div class="checkbox checkbox-info"><%= check_box_tag "roles[]", alert.name%><label for="checkbox1" class="remove-padding-left"><%= alert.name %></label></div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :person_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= select_tag :person_id, options_for_select(@people.collect{|p| [p.get_name_and_surname_or_username, p.id]}, [@actual_person]), {include_blank: "", class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <div class="pull-right">
      <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
