<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12">
      <div class="block-flat">
        <div class="header">
          <h2><%= I18n.t('headlines.' + controller_name.singularize + '.index') %></h2>
        </div>
        <div class="content">
          <div class="table-responsive">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-sm-12">
                  <div id="datatable_filter" class="dataTables_filter">
                    <%= render 'search/form', special_path: request.original_url.split("/").last.split("?").first %>
                <%= form_tag destroy_multiple_alerts_path, method: :delete do %>
                    <div class="buttons-list-edit">
                  <%= link_to I18n.t('helpers.link_to.alert.create'), new_alert_path, class: "btn btn-success btn-rad" if can? :new, Alert %>
                    <% unless @alerts.nil? %>
                      <%= submit_tag I18n.t('helpers.link_to.alert.destroy_multiple'), data: {confirm: I18n.t('helpers.link_to.alert.destroy_multiple_message')}, class:"btn btn-danger btn-rad" if can? :destroy, Alert, class:"btn btn-danger btn-rad" %>
                    </div>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
                <table aria-describedby="datatable_info" class="table table-bordered dataTable" id="datatable">
                <thead>
                  <tr>
                    <% if can? :destroy, Alert %>
                      <th><div class="checkbox checkbox-primary"><%= check_box_tag "selectAll", "selectAll" %><label for="checkbox1"></label></div></th>
                    <% end %>
                    <% [:title, :description, :created_at, :updated_at].each do |column| %>
                      <%= sortable column, I18n.t('helpers.label.alert.' + column.to_s) %>
                    <% end %>
                    <% if can? :update, @alerts or can? :destroy, @alerts %>
                      <th></th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>
                    <% unless @alerts.nil? %>
                      <% @alerts.each do |alert| %>
                        <tr>
                          <% if can? :destroy, alert %>
                            <td>
                              <div class="checkbox checkbox-info"><%= check_box_tag "alerts[]", alert.id %><label for="checkbox1"></label></div>
                            </td>
                          <% end %>
                          <td><%= link_to alert.title, alert_path(alert.id) %></td>
                          <% [:description, :created_at, :updated_at].each do |col| %>
                            <% if ![:description].include? col %>
                              <td><%= alert.send(col) %></td>
                            <% else %>
                              <td><%= alert.send(col).truncate_words(10) %></td>
                            <% end %>
                          <% end %>
                          <% if can? :update, alert or can? :destroy, alert %>
                            <td>
                              <% if can? :update, alert %>
                                <%= link_to edit_alert_path(alert) do %>
                                  <i class="fa fa-pencil"></i>
                                <% end %>
                              <% end %>
                              <% if can? :destroy, alert %>
                                <%= link_to alert_path(alert), method: :delete, data: {confirm: I18n.t('helpers.link_to.alert.destroy_single_message', alert: alert.title)} do %>
                                  <i class="fa fa-times"></i>
                                <% end %>
                              <% end %>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
                <div class="form-pagination">
                  <% unless @alerts.nil? %>
                    <%= will_paginate @alerts %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :js_scripts do %>
  <script>
    $('#selectAll').click(function() {
       if (this.checked) {
           $(':checkbox').each(function() {
               this.checked = true;
           });
       } else {
          $(':checkbox').each(function() {
               this.checked = false;
           });
       }
    });
  </script>
<% end %>
