<div class="cl-mcont">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="block-flat">
        <div class="header">
          <h3><%= @alert.title %></h3>
        </div>
        <div class="content">
          <p>
            <%= @alert.description %>
          </p>
          <table class="no-border">
            <tbody class="no-border-y">
             <% [:created_by, :created_at, :updated_at].each do |row| %>
              <tr>
                <td style="width:30%;"><%=  I18n.t('helpers.label.alert.' + row.to_s) %></td>
                <td><%= @alert.send(row) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="button-line">
          <% if can? :update, @alert %>
            <%= link_to I18n.t('helpers.link_to.edit'), edit_alert_path(@alert), class:"btn btn-success" %>
          <% end %>
          <% if can? :destroy, @alert %>
            <%= link_to I18n.t('helpers.link_to.destroy'), alert_path(@alert), method: :delete, data: {confirm: I18n.t('helpers.link_to.alert.destroy_single_message', alert: @alert.id)}, class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>