<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div  style="opacity: 1; margin-left: 0px;" id="cl-wrapper" class="login-container">
  <div class="middle-login">
    <div class="block-flat">
      <div class="header">
        <h3 class="text-center"><%= image_tag("logo.png", :alt => "rss feed") %></h3>
      </div>
      <div>
        <form style="margin-bottom: 0px !important;" class="form-horizontal" action="index.html">
          <div class="content">
            <h4 class="title">Logowanie</h4>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <%= f.text_field :login, autofocus: true, placeholder:"Nazwa użytkownika lub mail", id:"username", class:"form-control", type:"text" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <%= f.password_field :password, autocomplete: "off", placeholder:"Hasło", id:"password", class:"form-control", type:"password" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <div class="checkbox checkbox-primary"><%= f.check_box :remember_me %><label style="padding-left: 5px" for="checkbox1"></label>Zapamiętaj mnie</div>
                  </div>
                  <% end -%>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="actions">
             <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Zapomniałeś hasła?", new_password_path(resource_name), class:"btn btn-default" %>
        <% end %>
              <%= f.submit "Zaloguj", class:"btn btn-primary" %>
            </div>
          </div>
        </form>
        <div class="form-group"><br>
          <div class="col-sm-12 problem-logowanie">
            <%= mail_to "info@damzam.pl", "Jeśli masz problemy z logowaniem napisz do nas: info@damzam.pl" %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center out-links logo-ideas"><a href="http://ideasfactory.pl" target="_blank"><%= image_tag 'ideasfactory_logo.png' %>© IdeasFactory.pl</a></div>
  </div>
</div>
<% end %>
<%= render "devise/shared/links" %>
