<div aria-hidden="true" style="display: none;" class="modal fade" id="md-fullColor" tabindex="-1" role="dialog">
  <div class="modal-dialog full-color">
    <div class="modal-content">
    <div class="modal-header">
      <h3><%= @first_alert.title %></h3>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <h4><%= @first_alert.description %></h4>
        <p><%= @first_alert.created_by %></p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-mono2 btn-flat" data-dismiss="modal"><%= I18n.t('helpers.link_to.alert.dismiss') %></button>
      <%= link_to I18n.t('helpers.link_to.alert.cancel_alerts'), alert_path(@first_alert.id, cancel_all: "true"), :method => :put, class: 'btn btn-info btn-mono2 btn-flat', data: {confirm: I18n.t('helpers.link_to.alert.cancel_all_alerts')}%>
      <%= link_to I18n.t('helpers.link_to.ok'), alert_path(@first_alert.id), :method => :put, class: 'btn btn-warning btn-mono2 btn-flat'%>
    </div>
    </div>
  </div>
</div>