// Place all the styles related to the Attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.file_field > ul{
 display: none;
}
.file_field{
  height: 34px;
}
