<p>Witaj <%= @resource.get_name_and_surname_or_username %>!</p>

<p>Dostaliśmy informację, że chcesz zmienić swoje hasło do Panelu DamZam.pl.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie próbowałeś przywracać hasła, prosimy o zignorowanie tej wiadomości.</p>
<p>Jeżeli jednak chcesz zmienić swoje hasło <%= link_to 'kliknij tutaj', edit_password_url(@resource, reset_password_token: @token) %></p>
