<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Fachowcy">
    <Table>
      <Row>
        <% fields.each do |field| %>
          <Cell><Data ss:Type="String"><%= I18n.t("helpers.label." + controller_name.singularize + "." + field.to_s) %></Data></Cell>
        <% end %>
      </Row>
    <% items.each do |item| %>
      <Row>
        <% fields.each do |field| %>
          <Cell><Data ss:Type="String"><%= item.send(field) %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
