<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style>
      body{
        text-align: center;
      }
      h1{
        color: #B25798;
        margin-top: 0px;
        width: 18cm;
      }
      tr > td{
        vertical-align: top;
      }
      tr > td:first-child {
        color: #7F2A67;
        text-align: right;
        width: 30%;
      }
      tr > td:last-child {
        color: #2c3e50;
        text-align: left;
        width: 70%;
      }
      #header{
        margin-bottom: 0.5cm;
        float: right;
      }
      #header > img{
        top: 0px;
        width: 2cm;
      }
      #content{
        left: 0px;
        float:left;
      }
      table{
        width: 100%;
        margin-bottom: 1.5cm;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <%= wicked_pdf_image_tag("logo.png") %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
